node_red/flows.json
[
    {
        "id": "ea22f9ccf8be5234",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3910ccb13f4e057f",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "ACTUATOR 1",
        "topic": "Battery/IoT/project/UserID/1/actuator",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "ecdf73d6da8c9046",
                "89cb9df955a26ccc"
            ]
        ]
    },
    {
        "id": "ecdf73d6da8c9046",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 1",
        "func": "var newMsg = {'payload':''};\nif (msg.payload['e'][0]['v']==1){\n    newMsg = { 'payload': 'on' }\n} else \n{\n    newMsg = { 'payload': 'off' }\n}\n    \nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "9461e7146c9799d4"
            ]
        ]
    },
    {
        "id": "89cb9df955a26ccc",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 2",
        "func": "var newMsg = {'payload':''};\nif (msg.payload['e'][0]['v']==1){\n    newMsg = { 'payload': 1 }\n} else \n{\n    newMsg = { 'payload': 0 }\n}\n    \nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 60,
        "wires": [
            [
                "13da57fd3bd81563"
            ]
        ]
    },
    {
        "id": "d5d130f788644065",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "ACTUATOR 2",
        "topic": "Battery/IoT/project/UserID/2/actuator",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "80d4cd1c2c2ba677",
                "a40f9e06146da4d4"
            ]
        ]
    },
    {
        "id": "80d4cd1c2c2ba677",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 3",
        "func": "var newMsg = {'payload':''};\nif (msg.payload['e'][0]['v']==1){\n    newMsg = { 'payload': 1 }\n} else \n{\n    newMsg = { 'payload': 0 }\n}\n    \nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "a9837dc52f944dc5"
            ]
        ]
    },
    {
        "id": "52f5f3eaa002617e",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "ACTUATOR 4",
        "topic": "Battery/IoT/project/UserID/4/actuator",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "518d5aa85d0c9e65",
                "badf0cbc71c10398"
            ]
        ]
    },
    {
        "id": "518d5aa85d0c9e65",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 4",
        "func": "var newMsg = {'payload':''};\nif (msg.payload['e'][0]['v']==1){\n    newMsg = { 'payload': 1 }\n} else \n{\n    newMsg = { 'payload': 0 }\n}\n    \nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 380,
        "wires": [
            [
                "24a78cb00b5101d7"
            ]
        ]
    },
    {
        "id": "a40f9e06146da4d4",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 5",
        "func": "var newMsg = {'payload':''};\nif (msg.payload['e'][0]['v']==1){\n    newMsg = { 'payload': 'on' }\n} else \n{\n    newMsg = { 'payload': 'off' }\n}\n    \nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "2f6a36024454ed77"
            ]
        ]
    },
    {
        "id": "badf0cbc71c10398",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 6",
        "func": "var newMsg = {'payload':''};\nif (msg.payload['e'][0]['v']==1){\n    newMsg = { 'payload': 'on' }\n} else \n{\n    newMsg = { 'payload': 'off' }\n}\n    \nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "2399fdb8b7a031d0"
            ]
        ]
    },
    {
        "id": "6779b7e855c8ddfd",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Presence sensor 1",
        "topic": "Battery/IoT/project/UserID/1/sensor/presence",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 660,
        "wires": [
            [
                "6a6b152b828f6a9a",
                "4f22f298bd644a5e"
            ]
        ]
    },
    {
        "id": "6a6b152b828f6a9a",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 7",
        "func": "var newMsg = { 'payload': ''};\nif (msg.payload['e'][0]['v'] == 1) {\n    newMsg = { 'payload': 'the vehicle is in postation' }\n} else {\n\n    newMsg = { 'payload': 'the vehicle is  out of postation' }\n}\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 660,
        "wires": [
            [
                "a928e46d2745f0bb"
            ]
        ]
    },
    {
        "id": "4f22f298bd644a5e",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 8",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v'] };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 600,
        "wires": [
            [
                "0838becc92a248b3"
            ]
        ]
    },
    {
        "id": "49edbbcf371bc95c",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Presence sensor 2",
        "topic": "Battery/IoT/project/UserID/2/sensor/presence",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 520,
        "wires": [
            [
                "e7a1f60450336d2f",
                "595a733ecec33174"
            ]
        ]
    },
    {
        "id": "e7a1f60450336d2f",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 9",
        "func": "var newMsg = { 'payload': ''};\nif (msg.payload['e'][0]['v'] == 1) {\n    newMsg = { 'payload': 'the vehicle is in postation' }\n} else {\n    newMsg = { 'payload': 'the vehicle is  out of postation' }\n}\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 520,
        "wires": [
            [
                "8235db9b6d858bca"
            ]
        ]
    },
    {
        "id": "595a733ecec33174",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 10",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v'] };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 460,
        "wires": [
            [
                "43b3d756ad504d45"
            ]
        ]
    },
    {
        "id": "2924209d982cbb84",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Presence sensor 4",
        "topic": "Battery/IoT/project/UserID/4/sensor/presence",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 840,
        "wires": [
            [
                "0b56b7fc823d22a3",
                "f336802ed93e3abf"
            ]
        ]
    },
    {
        "id": "0b56b7fc823d22a3",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 11",
        "func": "var newMsg = { 'payload': ''};\nif (msg.payload['e'][0]['v'] == 1) {\n    newMsg = { 'payload': 'the vehicle is in postation' }\n} else {\n    newMsg = { 'payload': 'the vehicle is  out of postation' }\n}\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 840,
        "wires": [
            [
                "f6d8ac36c6b3e769"
            ]
        ]
    },
    {
        "id": "f336802ed93e3abf",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 12",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v'] };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 780,
        "wires": [
            [
                "842913d5117862c2"
            ]
        ]
    },
    {
        "id": "edc62dc51816ad0a",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Temperature sensor 1",
        "topic": "Battery/IoT/project/UserID/1/sensor/temperatureB",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "4c5894429be22ce9",
                "310977bf1ad55649"
            ]
        ]
    },
    {
        "id": "4c5894429be22ce9",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 13",
        "func": "var newMsg = { 'payload': Math.round(msg.payload['e'][0]['v'])};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1000,
        "wires": [
            [
                "86f4bb2e81f3e565"
            ]
        ]
    },
    {
        "id": "310977bf1ad55649",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 14",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v'] };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 940,
        "wires": [
            [
                "2609506d2b790907"
            ]
        ]
    },
    {
        "id": "5471be6cafc528e0",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Temperature sensor 2",
        "topic": "Battery/IoT/project/UserID/2/sensor/temperatureB",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1180,
        "wires": [
            [
                "b80ed6b3ba4d68e9",
                "42e08af0b7bcec33"
            ]
        ]
    },
    {
        "id": "b80ed6b3ba4d68e9",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 15",
        "func": "var newMsg = { 'payload': Math.round(msg.payload['e'][0]['v'])};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1180,
        "wires": [
            [
                "c0e60806ccd88b5c"
            ]
        ]
    },
    {
        "id": "42e08af0b7bcec33",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 16",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v'] };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1120,
        "wires": [
            [
                "2ccd951354161373"
            ]
        ]
    },
    {
        "id": "e263c331cf416117",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Temperature sensor 4",
        "topic": "Battery/IoT/project/UserID/4/sensor/temperatureB",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1380,
        "wires": [
            [
                "2edf91f731cc169a",
                "0db906a8ed04ae28"
            ]
        ]
    },
    {
        "id": "2edf91f731cc169a",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 17",
        "func": "var newMsg = { 'payload': Math.round(msg.payload['e'][0]['v'])};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1380,
        "wires": [
            [
                "96f3d8fc706b7519"
            ]
        ]
    },
    {
        "id": "0db906a8ed04ae28",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 18",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v'] };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1320,
        "wires": [
            [
                "57dda5469c880891"
            ]
        ]
    },
    {
        "id": "d993c98b068c908f",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Battery Percentage 1",
        "topic": "Battery/IoT/project/UserID/1/sensor/battery",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1560,
        "wires": [
            [
                "af73cc7711802d0e",
                "766cc88aa159845b"
            ]
        ]
    },
    {
        "id": "af73cc7711802d0e",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 19",
        "func": "var newMsg = { 'payload': Math.round(msg.payload['e'][0]['v'])};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1560,
        "wires": [
            [
                "2f6cd79cd91e1b4b",
                "028aa2c3e16688d3"
            ]
        ]
    },
    {
        "id": "766cc88aa159845b",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 20",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v'] };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1500,
        "wires": [
            [
                "4d4b3bd62e9477ec"
            ]
        ]
    },
    {
        "id": "2c7e4330f1147997",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Battery Percentage 2",
        "topic": "Battery/IoT/project/UserID/2/sensor/battery",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1720,
        "wires": [
            [
                "5746f84902158aed",
                "8d80952dec7a92de"
            ]
        ]
    },
    {
        "id": "5746f84902158aed",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 21",
        "func": "var newMsg = { 'payload': Math.round(msg.payload['e'][0]['v'])};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1720,
        "wires": [
            [
                "80e22f2c92c9aa01",
                "81e4da37ec73742e"
            ]
        ]
    },
    {
        "id": "8d80952dec7a92de",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 22",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v'] };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1660,
        "wires": [
            [
                "8d41f3d72492ce27"
            ]
        ]
    },
    {
        "id": "1ae559f74519f36f",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Battery Percentage 4",
        "topic": "Battery/IoT/project/UserID/4/sensor/battery",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1880,
        "wires": [
            [
                "2f545575bc81a31d",
                "d06319fbc336c0e1"
            ]
        ]
    },
    {
        "id": "2f545575bc81a31d",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 23",
        "func": "var newMsg = { 'payload': Math.round(msg.payload['e'][0]['v'])};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1880,
        "wires": [
            [
                "e07916dcf3f660b0",
                "b6698bef327b0ee4"
            ]
        ]
    },
    {
        "id": "d06319fbc336c0e1",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 24",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v'] };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1820,
        "wires": [
            [
                "06876f8d8dbe9cb2"
            ]
        ]
    },
    {
        "id": "8732d51182503839",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Photon sensor 1",
        "topic": "Battery/IoT/project/UserID/1/sensor/photon",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 2040,
        "wires": [
            [
                "039febeec226fa13",
                "8c9a7c4ba6f20879",
                "242a137abbaf6615"
            ]
        ]
    },
    {
        "id": "039febeec226fa13",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 25",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v']};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2080,
        "wires": [
            [
                "b9719878e820c027"
            ]
        ]
    },
    {
        "id": "8c9a7c4ba6f20879",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 26",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v'] };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1960,
        "wires": [
            [
                "6aa86f0bccb033dd"
            ]
        ]
    },
    {
        "id": "74b1b78e291341ae",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Photon sensor 2",
        "topic": "Battery/IoT/project/UserID/2/sensor/photon",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 2180,
        "wires": [
            [
                "bc8f2daa66f6bce2",
                "0c943ebc329aa843",
                "6bd61fa974f63bba"
            ]
        ]
    },
    {
        "id": "bc8f2daa66f6bce2",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 27",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v']};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2200,
        "wires": [
            [
                "183386a6ac7a6080"
            ]
        ]
    },
    {
        "id": "0c943ebc329aa843",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 28",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v'] };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2120,
        "wires": [
            [
                "258bd437aeedbe69"
            ]
        ]
    },
    {
        "id": "b4c2d023d89a9365",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Photon sensor 4",
        "topic": "Battery/IoT/project/UserID/4/sensor/photon",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 2320,
        "wires": [
            [
                "2ba93b5e2e03ec49",
                "9be7cc2051a2db9f",
                "86e5fe13a833bc98"
            ]
        ]
    },
    {
        "id": "2ba93b5e2e03ec49",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 29",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v']};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2360,
        "wires": [
            [
                "891f8129bc909ff6"
            ]
        ]
    },
    {
        "id": "9be7cc2051a2db9f",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 30",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v'] };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2260,
        "wires": [
            [
                "987295f8b8a51fe0"
            ]
        ]
    },
    {
        "id": "5e57d0545408aae9",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Daily 1",
        "topic": "Battery/IoT/project/UserID/1/sensor/daily",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 2500,
        "wires": [
            [
                "d8de6fe8d9494381",
                "69f7837736706d69"
            ]
        ]
    },
    {
        "id": "d8de6fe8d9494381",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 31",
        "func": "var newMsg = { 'payload': Math.round(msg.payload['e'][0]['v'])};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2500,
        "wires": [
            [
                "4240f7ddfd60b191"
            ]
        ]
    },
    {
        "id": "69f7837736706d69",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 32",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v']+15 };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2440,
        "wires": [
            [
                "7d85aa4383b190c8"
            ]
        ]
    },
    {
        "id": "79a9f6c859dcf726",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Daily 2",
        "topic": "Battery/IoT/project/UserID/2/sensor/daily",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 2660,
        "wires": [
            [
                "78c83191a2a6394e",
                "79f2972dbc35c77c"
            ]
        ]
    },
    {
        "id": "78c83191a2a6394e",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 33",
        "func": "var newMsg = { 'payload': Math.round(msg.payload['e'][0]['v'])};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2660,
        "wires": [
            [
                "2efc3401d6578dfe"
            ]
        ]
    },
    {
        "id": "79f2972dbc35c77c",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 34",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v']+15 };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2600,
        "wires": [
            [
                "5cbfd7bf4bd5090d"
            ]
        ]
    },
    {
        "id": "e76580a2986849c6",
        "type": "mqtt in",
        "z": "ea22f9ccf8be5234",
        "name": "Daily 4",
        "topic": "Battery/IoT/project/UserID/4/sensor/daily",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02376e029d38c6fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 2800,
        "wires": [
            [
                "a7d45d12947a25ed",
                "a7816137941b3207"
            ]
        ]
    },
    {
        "id": "a7d45d12947a25ed",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 35",
        "func": "var newMsg = { 'payload': Math.round(msg.payload['e'][0]['v'])};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2800,
        "wires": [
            [
                "479668f6dc15891e"
            ]
        ]
    },
    {
        "id": "a7816137941b3207",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 36",
        "func": "var newMsg = { 'payload': msg.payload['e'][0]['v']+15 };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2740,
        "wires": [
            [
                "b28f26bdcc69695a"
            ]
        ]
    },
    {
        "id": "970f2d3bdbea11d2",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator 1",
        "topic": "Battery/IoT/project/UserID/1/actuator",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1730,
        "y": 80,
        "wires": []
    },
    {
        "id": "9461e7146c9799d4",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "actuator 1",
        "label": "The battery charger of User ID 1 is ",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 1,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 640,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2f6a36024454ed77",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "actuator 2",
        "label": "The battery charger of User ID 2 is ",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 2,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 640,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2399fdb8b7a031d0",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "actuator 4",
        "label": "The battery charger of User ID 4 is ",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 3,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 640,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a928e46d2745f0bb",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "presence sensor 1",
        "label": "The presence sensor of User ID 1 say that",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 13,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 650,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "8235db9b6d858bca",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "presence sensor 2",
        "label": "The presence sensor of User ID 2 say that",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 14,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 650,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f6d8ac36c6b3e769",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "presence sensor 4",
        "label": "The presence sensor of User ID 4 say that",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 15,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 650,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "86f4bb2e81f3e565",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "temperature sensor 1",
        "label": "The temperature of the battery the User ID 1 is",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 10,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "c0e60806ccd88b5c",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "temperature sensor 2",
        "label": "The temperature of the battery of the User ID 2 is",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 11,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "96f3d8fc706b7519",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "temperature sensor 4",
        "label": "The temperature of the battery of the User ID 4 is",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 12,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "2f6cd79cd91e1b4b",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "Battery percentage 1",
        "label": "The battery percentage of the User ID 1 is",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 7,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "80e22f2c92c9aa01",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "Battery percentage 2",
        "label": "The battery percentage of the User ID 2 is",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 8,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "e07916dcf3f660b0",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "Battery percentage 4",
        "label": "The battery percentage of the User ID 4 is",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 9,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "b9719878e820c027",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "Photon Sensor 1",
        "label": "The energy of the photon of the User ID 1 is",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 16,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 650,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "183386a6ac7a6080",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "Photon Sensor 2 ",
        "label": "The energy of the photon of the User ID 2 is",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 17,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 650,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "891f8129bc909ff6",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "Photon Sensor 4",
        "label": "The energy of the photon of the User ID 4 is",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 18,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 650,
        "y": 2360,
        "wires": [
            []
        ]
    },
    {
        "id": "4240f7ddfd60b191",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "Daily 1",
        "label": "The percentage of the battery that the User 1 need today is",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 4,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 610,
        "y": 2500,
        "wires": [
            []
        ]
    },
    {
        "id": "2efc3401d6578dfe",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "Daily 2",
        "label": "The percentage of the battery that the User 2 need today is",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 5,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 610,
        "y": 2660,
        "wires": [
            []
        ]
    },
    {
        "id": "479668f6dc15891e",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "Daily 4",
        "label": "The percentage of the battery that the User 4 need today is",
        "tooltip": "",
        "group": "40f669179ff39b2e",
        "order": 6,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 610,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "8d41f3d72492ce27",
        "type": "ui_gauge",
        "z": "ea22f9ccf8be5234",
        "name": "Battery",
        "group": "960fc61e4bea28b2",
        "order": 6,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Percentage Battery Available",
        "label": "%",
        "format": "User 2",
        "min": 0,
        "max": "100",
        "colors": [
            "#85ff0a",
            "#3de600",
            "#3acb43"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 1660,
        "wires": []
    },
    {
        "id": "06876f8d8dbe9cb2",
        "type": "ui_gauge",
        "z": "ea22f9ccf8be5234",
        "name": "Battery",
        "group": "bd833f3d5a3ef447",
        "order": 6,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Percentage Battery Available",
        "label": "%",
        "format": "User 4",
        "min": 0,
        "max": "100",
        "colors": [
            "#4bff0a",
            "#04e600",
            "#3acb43"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 1820,
        "wires": []
    },
    {
        "id": "7d85aa4383b190c8",
        "type": "ui_gauge",
        "z": "ea22f9ccf8be5234",
        "name": "Daily",
        "group": "95e378d3f90482eb",
        "order": 5,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Percentage Battery Necessary",
        "label": "%",
        "format": "User 1",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0a0a",
            "#e60000",
            "#cb3a3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 2440,
        "wires": []
    },
    {
        "id": "5cbfd7bf4bd5090d",
        "type": "ui_gauge",
        "z": "ea22f9ccf8be5234",
        "name": "Daily",
        "group": "960fc61e4bea28b2",
        "order": 5,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Percentage Battery Necessary",
        "label": "%",
        "format": "User 2",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0a0a",
            "#e60000",
            "#cb3a3a"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 2600,
        "wires": []
    },
    {
        "id": "b28f26bdcc69695a",
        "type": "ui_gauge",
        "z": "ea22f9ccf8be5234",
        "name": "Daily",
        "group": "bd833f3d5a3ef447",
        "order": 5,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Percentage Battery Necessary",
        "label": "%",
        "format": "User 4",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0a0a",
            "#e60000",
            "#cb3a3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 2740,
        "wires": []
    },
    {
        "id": "4d4b3bd62e9477ec",
        "type": "ui_gauge",
        "z": "ea22f9ccf8be5234",
        "name": "Battery",
        "group": "95e378d3f90482eb",
        "order": 6,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Percentage Battery Available",
        "label": "%",
        "format": "User 1",
        "min": 0,
        "max": "100",
        "colors": [
            "#91ff0a",
            "#67e600",
            "#3acb43"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 1500,
        "wires": []
    },
    {
        "id": "13da57fd3bd81563",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator graph",
        "group": "95e378d3f90482eb",
        "order": 1,
        "width": 5,
        "height": 5,
        "label": "Actuator 1",
        "chartType": "line",
        "legend": "true",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "24a78cb00b5101d7",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator graph",
        "group": "bd833f3d5a3ef447",
        "order": 1,
        "width": 5,
        "height": 5,
        "label": "Actuator 4",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 866.1999969482422,
        "y": 381.20001220703125,
        "wires": [
            []
        ]
    },
    {
        "id": "0838becc92a248b3",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "presence sensor",
        "group": "95e378d3f90482eb",
        "order": 2,
        "width": 5,
        "height": 5,
        "label": "Presence Sensor 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "43b3d756ad504d45",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "presence sensor",
        "group": "960fc61e4bea28b2",
        "order": 2,
        "width": 5,
        "height": 5,
        "label": "Presence sensor 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "842913d5117862c2",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "presence sensor",
        "group": "bd833f3d5a3ef447",
        "order": 2,
        "width": 5,
        "height": 5,
        "label": "Presence sensor 4",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "2609506d2b790907",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "temperature sensor ",
        "group": "95e378d3f90482eb",
        "order": 4,
        "width": 5,
        "height": 5,
        "label": "Temperature Battery sensor  1",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "2ccd951354161373",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "temperature sensor ",
        "group": "960fc61e4bea28b2",
        "order": 4,
        "width": 5,
        "height": 5,
        "label": "Temperature Battery sensor 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "57dda5469c880891",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "temperature sensor ",
        "group": "bd833f3d5a3ef447",
        "order": 4,
        "width": 5,
        "height": 5,
        "label": "Temperature Battery sensor 4",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "6aa86f0bccb033dd",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "Photon sensor",
        "group": "95e378d3f90482eb",
        "order": 3,
        "width": 5,
        "height": 5,
        "label": "Photon sensor 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "258bd437aeedbe69",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "Photon sensor",
        "group": "960fc61e4bea28b2",
        "order": 3,
        "width": 5,
        "height": 5,
        "label": "Photon sensor User ID 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "987295f8b8a51fe0",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "Photon sensor",
        "group": "bd833f3d5a3ef447",
        "order": 3,
        "width": 5,
        "height": 5,
        "label": "Photon sensor User ID 4",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "a9837dc52f944dc5",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator graph",
        "group": "960fc61e4bea28b2",
        "order": 1,
        "width": 5,
        "height": 5,
        "label": "Actuator 2",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": true,
        "className": "",
        "x": 860,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3971ac65e2f35caf",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator 1",
        "topic": "Battery/IoT/project/UserID/1/actuator",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1730,
        "y": 200,
        "wires": []
    },
    {
        "id": "a71257dc8d90e98e",
        "type": "ui_button",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator OFF",
        "group": "95e378d3f90482eb",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "ACTUATOR OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1160,
        "y": 60,
        "wires": [
            [
                "34187c5cc97a7ef3"
            ]
        ]
    },
    {
        "id": "34187c5cc97a7ef3",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 43",
        "func": "\nif (msg.payload==0) {\n    msg[\"payload\"] = {\n        'bn': 'flag',\n        'e':\n            [{\n                'n': 'status',\n                'v': 0,\n                't': '',\n                'unit': 'bool'\n            }]\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 60,
        "wires": [
            [
                "970f2d3bdbea11d2",
                "88b684675bf518b9"
            ]
        ]
    },
    {
        "id": "88b684675bf518b9",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Flag 1",
        "topic": "Battery/IoT/project/UserID/1/manualFlag",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1710,
        "y": 20,
        "wires": []
    },
    {
        "id": "1dd5873e0b3b4097",
        "type": "ui_button",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator ON",
        "group": "95e378d3f90482eb",
        "order": 10,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "ACTUATOR ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1170,
        "y": 180,
        "wires": [
            [
                "fd79a62627fd168e"
            ]
        ]
    },
    {
        "id": "7d1963e5c246688c",
        "type": "ui_button",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator Control Strategy",
        "group": "95e378d3f90482eb",
        "order": 11,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Actuator Control Strategy",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 260,
        "wires": [
            [
                "878a3909413d09ec"
            ]
        ]
    },
    {
        "id": "2a656b3260a4bd3b",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Flag 1",
        "topic": "Battery/IoT/project/UserID/1/manualFlag",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1710,
        "y": 260,
        "wires": []
    },
    {
        "id": "07d1f204be526333",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Flag 1",
        "topic": "Battery/IoT/project/UserID/1/manualFlag",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1710,
        "y": 140,
        "wires": []
    },
    {
        "id": "fd79a62627fd168e",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 46",
        "func": "\nif (msg.payload==1) {\n    msg[\"payload\"] = {\n        'bn': 'flag',\n        'e':\n            [{\n                'n': 'status',\n                'v': 1,\n                't': '',\n                'unit': 'bool'\n            }]\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 180,
        "wires": [
            [
                "07d1f204be526333",
                "3971ac65e2f35caf"
            ]
        ]
    },
    {
        "id": "878a3909413d09ec",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 47",
        "func": "\nif (msg.payload==2) {\n    msg[\"payload\"] = {\n        'bn': 'flag',\n        'e':\n            [{\n                'n': 'status',\n                'v': 2,\n                't': '',\n                'unit': 'bool'\n            }]\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 260,
        "wires": [
            [
                "2a656b3260a4bd3b"
            ]
        ]
    },
    {
        "id": "09a45dca66738b21",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator 2",
        "topic": "Battery/IoT/project/UserID/2/actuator",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1730,
        "y": 400,
        "wires": []
    },
    {
        "id": "8dd06b493c0123cd",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator 2",
        "topic": "Battery/IoT/project/UserID/2/actuator",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1730,
        "y": 520,
        "wires": []
    },
    {
        "id": "986898bc4b631c2b",
        "type": "ui_button",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator OFF",
        "group": "960fc61e4bea28b2",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "ACTUATOR OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1160,
        "y": 380,
        "wires": [
            [
                "6b3f84eea79d903e"
            ]
        ]
    },
    {
        "id": "6b3f84eea79d903e",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 48",
        "func": "\nif (msg.payload==0) {\n    msg[\"payload\"] = {\n        'bn': 'flag',\n        'e':\n            [{\n                'n': 'status',\n                'v': 0,\n                't': '',\n                'unit': 'bool'\n            }]\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 380,
        "wires": [
            [
                "09a45dca66738b21",
                "74d0f7cca8576b30"
            ]
        ]
    },
    {
        "id": "74d0f7cca8576b30",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Flag 2",
        "topic": "Battery/IoT/project/UserID/2/manualFlag",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1710,
        "y": 340,
        "wires": []
    },
    {
        "id": "5e6fb2e5fb484193",
        "type": "ui_button",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator ON",
        "group": "960fc61e4bea28b2",
        "order": 10,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "ACTUATOR ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1170,
        "y": 500,
        "wires": [
            [
                "b1993649bc01ce0d"
            ]
        ]
    },
    {
        "id": "e03ecd88c8aa210f",
        "type": "ui_button",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator Control Strategy",
        "group": "960fc61e4bea28b2",
        "order": 11,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Actuator Control Strategy",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 580,
        "wires": [
            [
                "9bfe6b146a9230b5"
            ]
        ]
    },
    {
        "id": "632da029953087c5",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Flag 2",
        "topic": "Battery/IoT/project/UserID/2/manualFlag",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1710,
        "y": 580,
        "wires": []
    },
    {
        "id": "b4acf3c43c6c415a",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Flag 2",
        "topic": "Battery/IoT/project/UserID/2/manualFlag",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1710,
        "y": 460,
        "wires": []
    },
    {
        "id": "b1993649bc01ce0d",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 49",
        "func": "\nif (msg.payload==1) {\n    msg[\"payload\"] = {\n        'bn': 'flag',\n        'e':\n            [{\n                'n': 'status',\n                'v': 1,\n                't': '',\n                'unit': 'bool'\n            }]\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 500,
        "wires": [
            [
                "b4acf3c43c6c415a",
                "8dd06b493c0123cd"
            ]
        ]
    },
    {
        "id": "9bfe6b146a9230b5",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 50",
        "func": "\nif (msg.payload==2) {\n    msg[\"payload\"] = {\n        'bn': 'flag',\n        'e':\n            [{\n                'n': 'status',\n                'v': 2,\n                't': '',\n                'unit': 'bool'\n            }]\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 580,
        "wires": [
            [
                "632da029953087c5"
            ]
        ]
    },
    {
        "id": "96a10185bffe25c6",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator 4",
        "topic": "Battery/IoT/project/UserID/4/actuator",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1730,
        "y": 720,
        "wires": []
    },
    {
        "id": "3e126afe556afe06",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator 4",
        "topic": "Battery/IoT/project/UserID/4/actuator",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1730,
        "y": 840,
        "wires": []
    },
    {
        "id": "58da57a2956cbc6b",
        "type": "ui_button",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator OFF",
        "group": "bd833f3d5a3ef447",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "ACTUATOR OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1160,
        "y": 700,
        "wires": [
            [
                "12468b81633b5f53"
            ]
        ]
    },
    {
        "id": "12468b81633b5f53",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 51",
        "func": "\nif (msg.payload==0) {\n    msg[\"payload\"] = {\n        'bn': 'flag',\n        'e':\n            [{\n                'n': 'status',\n                'v': 0,\n                't': '',\n                'unit': 'bool'\n            }]\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 700,
        "wires": [
            [
                "96a10185bffe25c6",
                "2d2f0d56ac763125"
            ]
        ]
    },
    {
        "id": "2d2f0d56ac763125",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Flag 4",
        "topic": "Battery/IoT/project/UserID/4/manualFlag",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1710,
        "y": 660,
        "wires": []
    },
    {
        "id": "53d013a06056eb22",
        "type": "ui_button",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator ON",
        "group": "bd833f3d5a3ef447",
        "order": 10,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "ACTUATOR ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1170,
        "y": 820,
        "wires": [
            [
                "17b479ed6052be48"
            ]
        ]
    },
    {
        "id": "0ef9485b6fdd3544",
        "type": "ui_button",
        "z": "ea22f9ccf8be5234",
        "name": "Actuator Control Strategy",
        "group": "bd833f3d5a3ef447",
        "order": 11,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Actuator Control Strategy",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 900,
        "wires": [
            [
                "a60b4be73649e933"
            ]
        ]
    },
    {
        "id": "b4699b3855767f78",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Flag 4",
        "topic": "Battery/IoT/project/UserID/4/manualFlag",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1710,
        "y": 900,
        "wires": []
    },
    {
        "id": "0cb3826d3aa79e3b",
        "type": "mqtt out",
        "z": "ea22f9ccf8be5234",
        "name": "Flag 4",
        "topic": "Battery/IoT/project/UserID/4/manualFlag",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02376e029d38c6fc",
        "x": 1710,
        "y": 780,
        "wires": []
    },
    {
        "id": "17b479ed6052be48",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 52",
        "func": "\nif (msg.payload==1) {\n    msg[\"payload\"] = {\n        'bn': 'flag',\n        'e':\n            [{\n                'n': 'status',\n                'v': 1,\n                't': '',\n                'unit': 'bool'\n            }]\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 820,
        "wires": [
            [
                "0cb3826d3aa79e3b",
                "3e126afe556afe06"
            ]
        ]
    },
    {
        "id": "a60b4be73649e933",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 53",
        "func": "\nif (msg.payload==2) {\n    msg[\"payload\"] = {\n        'bn': 'flag',\n        'e':\n            [{\n                'n': 'status',\n                'v': 2,\n                't': '',\n                'unit': 'bool'\n            }]\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 900,
        "wires": [
            [
                "b4699b3855767f78"
            ]
        ]
    },
    {
        "id": "81e4da37ec73742e",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "Battery percentage 2",
        "label": "Battery percentage:",
        "tooltip": "",
        "group": "960fc61e4bea28b2",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "028aa2c3e16688d3",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "Battery percentage 1",
        "label": "Battery percentage",
        "tooltip": "",
        "group": "95e378d3f90482eb",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "b6698bef327b0ee4",
        "type": "ui_text_input",
        "z": "ea22f9ccf8be5234",
        "name": "Battery percentage 4",
        "label": "Battery percentage:",
        "tooltip": "",
        "group": "bd833f3d5a3ef447",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "242a137abbaf6615",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 54",
        "func": "var newMsg = { 'payload': 0 };\nif ((msg.payload['e'][0]['v'])>3)\n{\n    var newMsg = { 'payload': 1 };\n}\nelse\n{\n    var newMsg = { 'payload': 0 };\n}\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2000,
        "wires": [
            [
                "b5dae3db6e495cd4"
            ]
        ]
    },
    {
        "id": "b5dae3db6e495cd4",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "Photon sensor",
        "group": "4dd662f47307febb",
        "order": 3,
        "width": 5,
        "height": 5,
        "label": "Photon sensor 1",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "6bd61fa974f63bba",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 55",
        "func": "var newMsg = { 'payload': 0 };\nif (msg.payload['e'][0]['v']>3)\n{\n    var newMsg = { 'payload': 1 };\n}\nelse\n{\n    var newMsg = { 'payload': 0 };\n}\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2160,
        "wires": [
            [
                "fe1cbdae6d88e009"
            ]
        ]
    },
    {
        "id": "fe1cbdae6d88e009",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "Photon sensor",
        "group": "4dd662f47307febb",
        "order": 3,
        "width": 5,
        "height": 5,
        "label": "Photon sensor 2",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "86e5fe13a833bc98",
        "type": "function",
        "z": "ea22f9ccf8be5234",
        "name": "function 56",
        "func": "var newMsg = { 'payload': 0 };\nif (msg.payload['e'][0]['v']>3.3)\n{\n    var newMsg = { 'payload': 1 };\n}\nelse\n{\n    var newMsg = { 'payload': 0 };\n}\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2300,
        "wires": [
            [
                "ba0dc9b2b9433467"
            ]
        ]
    },
    {
        "id": "ba0dc9b2b9433467",
        "type": "ui_chart",
        "z": "ea22f9ccf8be5234",
        "name": "Photon sensor",
        "group": "4dd662f47307febb",
        "order": 3,
        "width": 5,
        "height": 5,
        "label": "Photon sensor 1",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "9b081b410aadba04",
        "type": "ui_spacer",
        "z": "ea22f9ccf8be5234",
        "name": "spacer",
        "group": "960fc61e4bea28b2",
        "order": 7,
        "width": 10,
        "height": 1
    },
    {
        "id": "0a2e36b690dae10e",
        "type": "ui_spacer",
        "z": "ea22f9ccf8be5234",
        "name": "spacer",
        "group": "bd833f3d5a3ef447",
        "order": 7,
        "width": 10,
        "height": 1
    },
    {
        "id": "0feb6ea1dee448d5",
        "type": "ui_spacer",
        "z": "ea22f9ccf8be5234",
        "name": "spacer",
        "group": "95e378d3f90482eb",
        "order": 7,
        "width": 10,
        "height": 1
    },
    {
        "id": "02376e029d38c6fc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.eclipseprojects.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "40f669179ff39b2e",
        "type": "ui_group",
        "name": "Text",
        "tab": "86d9a45eb8787d9e",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": true,
        "className": ""
    },
    {
        "id": "960fc61e4bea28b2",
        "type": "ui_group",
        "name": "User ID 2",
        "tab": "c6a2d304c1468326",
        "order": 2,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd833f3d5a3ef447",
        "type": "ui_group",
        "name": "User ID 4",
        "tab": "469c4650e3cf1e4c",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "95e378d3f90482eb",
        "type": "ui_group",
        "name": "User ID 1",
        "tab": "16aee7ded59d95f5",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4dd662f47307febb",
        "type": "ui_group",
        "name": "Energy",
        "tab": "280208b2da5d8772",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86d9a45eb8787d9e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c6a2d304c1468326",
        "type": "ui_tab",
        "name": "User 2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "469c4650e3cf1e4c",
        "type": "ui_tab",
        "name": "User 4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "16aee7ded59d95f5",
        "type": "ui_tab",
        "name": "User 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "280208b2da5d8772",
        "type": "ui_tab",
        "name": "Energy",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]